html {
  background-color: rgb(218, 226, 246);
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
body {
  height: 100vh;
  overflow: hidden;
  background-color: gray;
}
.main-section {
  top: 50vh;
  transform: translateY(-50%);
}
.main-box {
  max-width: 70%;
  min-width: 800px;
  height: 650px;
  background-color: white;
  box-shadow: 0 17px 20px -18px rgba(0, 0, 0, 1); 
}
.page-box{
    transition: 0.3s;
}
