html {
  background-color: rgb(218, 226, 246);
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
body {
  height: 100vh;
  overflow: hidden;
  background-color: gray;
}
.main-section {
  top: 50vh;
  transform: translateY(-50%);
}
.main-box {
  max-width: 70%;
  min-width: 800px;
  height: 650px;
  background-color: white;
  box-shadow: 0 17px 20px -18px rgba(0, 0, 0, 1);
}
.main-page-box {
  transition: 0.6s;
}
.home-page-box {
  transition: 0.5s;
  transform: scale(2);
}
.bottom-dock {
  bottom: 0;
}
.bottom-dock > i:hover {
  transition: 0.2s;
  opacity: 0.3;
}
.home-bottom-icons > p > img {
  transition: 0.3s;
}
.home-bottom-icons > p:hover > img {
  transform: scale(1.1);
}

.home-bottom-icons > p::after {
  transition: 0.3s;
  content: attr(data-title);
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  visibility: hidden;
  opacity: 0;
  border-radius: 20%;
  font-size: 20px;
}
.home-bottom-icons > p:hover::after {
  visibility: visible;
  opacity: 1;
}
